In [1]:
import sys
sys.path.append(r'C:\Users\SHAHID\timeseires')

['C:\\Users\\SHAHID\\ML COURSE', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\python37.zip', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\DLLs', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF', '', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib\\site-packages', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib\\site-packages\\portpicker-1.3.1-py3.7.egg', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib\\site-packages\\win32', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib\\site-packages\\win32\\lib', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib\\site-packages\\Pythonwin', 'C:\\Users\\SHAHID\\16-Codes\\envs\\STLF\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\SHAHID\\.ipython', 'C:\\Users\\SHAHID\\timeseires']

In [3]:
import numpy as np
import pandas as pd
from pandas import read_csv
import pickle
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder
from timeseires.utils import t_v_t_split as sp

In [4]:
df=pd.read_csv(r'E:\ELECTRICAL ENGINEERIGH(COMNICATN)\Semester-8th\ML Lab\5_features_extracted.csv', index_col=['Datetime'], parse_dates=['Datetime'])
df.head()

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2004-10-01 01:00:00,12379.0,275,0,0,0,0,0,1,1,10,4
2004-10-01 02:00:00,11935.0,275,0,0,0,0,0,1,2,10,4
2004-10-01 03:00:00,11692.0,275,0,0,0,0,0,1,3,10,4
2004-10-01 04:00:00,11597.0,275,0,0,0,0,0,1,4,10,4
2004-10-01 05:00:00,11681.0,275,0,0,0,0,0,1,5,10,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121269 entries, 2004-10-01 01:00:00 to 2018-08-03 00:00:00
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   aep          121269 non-null  float64
 1   year_day     121269 non-null  int64
 2   holiday      121269 non-null  int64
 3   weekend      121269 non-null  int64
 4   winter       121269 non-null  int64
 5   spring       121269 non-null  int64
 6   summer       121269 non-null  int64
 7   fall         121269 non-null  int64
 8   hour         121269 non-null  int64
 9   month        121269 non-null  int64
 10  day_of_week  121269 non-null  int64
dtypes: float64(1), int64(10)
memory usage: 11.1 MB

# Function to split data For Training, Validation & Test

# tarin, test &  validation split

In [6]:
train_set, validation_set, test_set = sp.t_v_t(df, 70, 20, 10)

In [7]:
print(train_set.shape)
print(validation_set.shape)
print(test_set.shape)

(84888, 11)
(24254, 11)
(12127, 11)

In [8]:
(84907+24259+12130)-121296

0

In [9]:
test_set

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2017-03-15 17:00:00,17445.0,74,0,0,0,1,0,0,17,3,2
2017-03-15 18:00:00,17545.0,74,0,0,0,1,0,0,18,3,2
2017-03-15 19:00:00,17713.0,74,0,0,0,1,0,0,19,3,2
2017-03-15 20:00:00,18332.0,74,0,0,0,1,0,0,20,3,2
2017-03-15 21:00:00,18883.0,74,0,0,0,1,0,0,21,3,2
...,...,...,...,...,...,...,...,...,...,...,...
2018-08-02 20:00:00,17673.0,214,0,0,0,0,1,0,20,8,3
2018-08-02 21:00:00,17303.0,214,0,0,0,0,1,0,21,8,3
2018-08-02 22:00:00,17001.0,214,0,0,0,0,1,0,22,8,3
2018-08-02 23:00:00,15964.0,214,0,0,0,0,1,0,23,8,3
2018-08-03 00:00:00,14809.0,215,0,0,0,0,1,0,0,8,4

# Train

##### MinMax

In [10]:
train_set_load             = train_set['aep'].values.reshape(-1, 1)              
validation_set_load        = validation_set['aep'].values.reshape(-1, 1)
test_set_load              = test_set['aep'].values.reshape(-1, 1)
#.........................................................................
scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit(train_set_load)
#scaler = StandardScaler()
#scaler.fit(train_set_load)
#.........................................................................
scaled_train_set_load      = scaler.transform(train_set_load)
scaled_validation_set_load = scaler.transform(validation_set_load)
scaled_test_set_load       = scaler.transform(test_set_load)
pickle.dump(scaler, open ("AEPscaler.pkl",'wb') )
scaled_train_set_load.shape

(84888, 1)

In [11]:
train_numerical = scaled_train_set_load
train_numerical.shape

(84888, 1)

In [12]:
train_set.describe()

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
count,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000,84888.000000
mean,15787.015132,182.044470,0.051173,0.285883,0.254995,0.259978,0.236358,0.248669,11.502450,6.488455,3.000990
std,2555.346554,106.802831,0.220352,0.451836,0.435861,0.438625,0.424847,0.432244,6.921544,3.492670,1.999888
min,9669.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13949.000000,89.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,3.000000,1.000000
50%,15616.000000,179.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,6.000000,3.000000
75%,17464.000000,277.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,18.000000,10.000000,5.000000
max,22554.000000,366.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,23.000000,12.000000,6.000000

In [13]:
(12379.-9669.)/(22556.0-9669)

0.21028943896950414

In [14]:
train_numerical

array([[0.21032208],
       [0.17586341],
       [0.15700427],
       ...,
       [0.33783469],
       [0.34326737],
       [0.29545984]], shape=(84888, 1))

##### OneHot Encoding

In [15]:
df.columns

Index(['aep', 'year_day', 'holiday', 'weekend', 'winter', 'spring', 'summer',
       'fall', 'hour', 'month', 'day_of_week'],
      dtype='object')

In [16]:
_=df.columns
_[2],_[3]

('holiday', 'weekend')

In [17]:
train_set

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2004-10-01 01:00:00,12379.0,275,0,0,0,0,0,1,1,10,4
2004-10-01 02:00:00,11935.0,275,0,0,0,0,0,1,2,10,4
2004-10-01 03:00:00,11692.0,275,0,0,0,0,0,1,3,10,4
2004-10-01 04:00:00,11597.0,275,0,0,0,0,0,1,4,10,4
2004-10-01 05:00:00,11681.0,275,0,0,0,0,0,1,5,10,4
...,...,...,...,...,...,...,...,...,...,...,...
2014-06-08 19:00:00,14390.0,159,0,1,0,0,1,0,19,6,6
2014-06-08 20:00:00,14193.0,159,0,1,0,0,1,0,20,6,6
2014-06-08 21:00:00,14022.0,159,0,1,0,0,1,0,21,6,6
2014-06-08 22:00:00,14092.0,159,0,1,0,0,1,0,22,6,6
2014-06-08 23:00:00,13476.0,159,0,1,0,0,1,0,23,6,6

In [18]:
train_setO     = train_set[:].values

holiday        = train_setO[:,2:3]
weekend        = train_setO[:,3:4]


en_holiday     = OneHotEncoder(handle_unknown='ignore')
en_weekend    = OneHotEncoder(handle_unknown='ignore')


holidayf       = en_holiday.fit(holiday)             #2
holidayt       = holidayf.transform(holiday).toarray() 

weekendf       = en_weekend.fit(weekend)             #2
weekendt       = weekendf.transform(weekend).toarray()




train_categorical = np.concatenate((holidayt,weekendt), axis=1)
train_categorical.shape

(84888, 4)

##### Cyclic

In [19]:
df.columns

Index(['aep', 'year_day', 'holiday', 'weekend', 'winter', 'spring', 'summer',
       'fall', 'hour', 'month', 'day_of_week'],
      dtype='object')

In [20]:
cyclic_train = train_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall','year_day']]
cyclic_train = cyclic_train[:].values


sin_montht   = np.sin(2*np.pi*cyclic_train[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_train[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_train[:,1:2]/6)
cos_weekt    = np.cos(2*np.pi*cyclic_train[:,1:2]/6)
  
sin_hourt    = np.sin(2*np.pi*cyclic_train[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_train[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_train[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_train[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_train[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_train[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_train[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_train[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_train[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_train[:,6:7]/4)

sin_year_dayt    = np.sin(2*np.pi*cyclic_train[:,7:8]/365)
cos_year_dayt    = np.cos(2*np.pi*cyclic_train[:,7:8]/365)

train_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt,
                              sin_year_dayt ,cos_year_dayt ), axis=1)

In [21]:
train = np.concatenate((train_numerical,train_categorical, train_cyclic), axis=1)
train.shape

(84888, 21)

In [22]:
train_df = pd.DataFrame(data = train.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt',
                                                          'sin_year_dayt ','cos_year_dayt ']).transpose()

In [23]:
train_df.to_csv(r'E:\ELECTRICAL ENGINEERIGH(COMNICATN)\Semester-8th\ML Lab\7_AEP_train.csv', index=False)

# validation

##### MinMax

In [24]:
validation_numerical = scaled_validation_set_load
validation_numerical.shape

(24254, 1)

#### OneHot

In [25]:

validation_setO = validation_set[:].values

holiday        = validation_setO[:,2:3]
weekend        = validation_setO[:,3:4]



holidayt       = holidayf.transform(holiday).toarray() 

weekendt       = weekendf.transform(weekend).toarray()
            
                                                        
            
validation_categorical = np.concatenate((holidayt,weekendt), axis=1)
validation_categorical.shape

(24254, 4)

#### cyclic

In [26]:
cyclic_validation = validation_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall','year_day']]
cyclic_validation = cyclic_validation[:].values

sin_montht   = np.sin(2*np.pi*cyclic_validation[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_validation[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_validation[:,1:2]/6)
cos_weekt    = np.cos(2*np.pi*cyclic_validation[:,1:2]/6)
  
sin_hourt    = np.sin(2*np.pi*cyclic_validation[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_validation[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_validation[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_validation[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_validation[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_validation[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_validation[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_validation[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_validation[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_validation[:,6:7]/4)

sin_year_dayt    = np.sin(2*np.pi*cyclic_validation[:,7:8]/365)
cos_year_dayt    = np.cos(2*np.pi*cyclic_validation[:,7:8]/365)

validation_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt,sin_year_dayt,cos_year_dayt), axis=1) 

validation_cyclic.shape

(24254, 16)

In [27]:
validation = np.concatenate((validation_numerical,validation_categorical, validation_cyclic), axis=1)
validation.shape

(24254, 21)

In [28]:
validation_df = pd.DataFrame(data = validation.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt',
                                                                     'sin_year_dayt','cos_year_dayt']).transpose()

In [29]:
validation_df.to_csv(r'E:\ELECTRICAL ENGINEERIGH(COMNICATN)\Semester-8th\ML Lab\8_AEP_validation.csv', index=False)

In [30]:
validation_df.shape

(24254, 21)

# Test

##### MinMax

In [31]:
test_numerical = scaled_test_set_load
test_numerical.shape

(12127, 1)

##### OneHot

In [32]:

test_setO = test_set[:].values

holiday        = test_setO[:,2:3]
weekend        = test_setO[:,3:4]



holidayt       = holidayf.transform(holiday).toarray() 

weekendt       = weekendf.transform(weekend).toarray()
            
                                                        
            
test_categorical = np.concatenate((holidayt,weekendt), axis=1)
test_categorical.shape

(12127, 4)

##### cyclic

In [33]:
cyclic_test = test_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall', 'year_day']]
cyclic_test = cyclic_test[:].values

sin_montht   = np.sin(2*np.pi*cyclic_test[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_test[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_test[:,1:2]/6)
cos_weekt    = np.cos(2*np.pi*cyclic_test[:,1:2]/6)
  
sin_hourt    = np.sin(2*np.pi*cyclic_test[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_test[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_test[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_test[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_test[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_test[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_test[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_test[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_test[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_test[:,6:7]/4)

sin_year_dayt    = np.sin(2*np.pi*cyclic_test[:,7:8]/365)
cos_year_dayt    = np.cos(2*np.pi*cyclic_test[:,7:8]/365)

test_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt,sin_year_dayt,cos_year_dayt ), axis=1) 

test_cyclic.shape

(12127, 16)

In [34]:
test = np.concatenate((test_numerical,test_categorical, test_cyclic), axis=1)
test.shape

(12127, 21)

In [35]:
test_df = pd.DataFrame(data = test.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt',
                                                         'sin_year_dayt','cos_year_dayt']).transpose()

In [36]:
test_df.to_csv(r'E:\ELECTRICAL ENGINEERIGH(COMNICATN)\Semester-8th\ML Lab\9_AEP_test.csv', index=False)

In [37]:
test_df.shape

(12127, 21)

In [38]:
4*((24*24)+24^2+24)

2312

In [39]:
(84907)/(10*(24+24))

176.88958333333332

In [40]:
84907

84907