In [1]:
import pandas as pd
import numpy as np
#from dataprep.datasets import load_dataset   # Used to import / load dataset
#from dataprep.eda import create_report   # Used to load Report formate

In [2]:
df=pd.read_csv(r'E:\ELECTRICAL ENGINEERIGH(COMNICATN)\Semester-8th\ML Lab\5_features_extracted.csv', index_col=['Datetime'], parse_dates=['Datetime'])
df.head()

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2004-10-01 01:00:00,12379.0,275,0,0,0,0,0,1,1,10,4
2004-10-01 02:00:00,11935.0,275,0,0,0,0,0,1,2,10,4
2004-10-01 03:00:00,11692.0,275,0,0,0,0,0,1,3,10,4
2004-10-01 04:00:00,11597.0,275,0,0,0,0,0,1,4,10,4
2004-10-01 05:00:00,11681.0,275,0,0,0,0,0,1,5,10,4

In [3]:
print('pearson\n\n',df.corrwith(df["aep"],method="pearson"))

pearson

 aep            1.000000
year_day      -0.124670
holiday       -0.053264
weekend       -0.267074
winter         0.328270
spring        -0.246525
summer         0.139706
fall          -0.220879
hour           0.420900
month         -0.125940
day_of_week   -0.219804
dtype: float64

In [4]:
print('kendall\n\n',df.corrwith(df["aep"],method="kendall"))

kendall

 aep            1.000000
year_day      -0.082623
holiday       -0.041145
weekend       -0.217872
winter         0.278509
spring        -0.197702
summer         0.098071
fall          -0.178439
hour           0.292459
month         -0.085608
day_of_week   -0.157956
dtype: float64

In [5]:
print('spearman\n\n',df.corrwith(df["aep"],method="spearman"))

spearman

 aep            1.000000
year_day      -0.123289
holiday       -0.050389
weekend       -0.266822
winter         0.341082
spring        -0.242120
summer         0.120105
fall          -0.218529
hour           0.431691
month         -0.123476
day_of_week   -0.219379
dtype: float64

In [6]:
df.isnull().sum()

aep            0
year_day       0
holiday        0
weekend        0
winter         0
spring         0
summer         0
fall           0
hour           0
month          0
day_of_week    0
dtype: int64